In [35]:
import requests
import json
import pandas as pd
import numpy as np
from pandas.io.json import json_normalize
import time

In [200]:
#Coletando todas as capitais e colocando numa lista.
capitais = ['Rio Branco', 'Maceió', 'Macapá', 'Manaus', 'Salvador', 'Fortaleza',
            'Brasília', 'Vitória', 'Goiânia', 'São Luís', 'Cuiabá', 'Campo Grande',
            'Belo Horizonte','Belém', 'João Pessoa', 'Curitiba', 'Recife', 'Teresina',
            'Rio de Janeiro', 'Natal', 'Porto Alegre', 'Porto Velho', 'Boa Vista',
            'Florianópolis', 'São Paulo', 'Aracaju', 'Palmas']

In [208]:
# Coletei na internet os códigos das capitais para a requisição e coloquei em um dicionário.
capitaiscodeIBGE = {'Rio Branco': 1200401, 'Maceió': 2704302, 'Macapá': 1600303, 
                'Manaus': 1302603, 'Salvador': 2927408, 'Fortaleza': 2304400,
                'Brasília': 5300108, 'Vitória': 3205309, 'Goiânia': 5208707,     
                'São Luís': 2111300, 'Cuiabá': 5103403, 'Campo Grande': 5002704, 
                'Belo Horizonte': 3106200, 'Belém': 1501402, 'João Pessoa': 2507507,
                'Curitiba': 4106902, 'Recife': 2611606, 'Teresina': 2211001, 
                'Rio de Janeiro': 3304557, 'Natal': 2408102, 'Porto Alegre': 4314902,
                'Porto Velho': 1100205,'Boa Vista': 1400100, 'Florianópolis': 4205407, 
                'São Paulo': 3550308, 'Aracaju': 2800308, 'Palmas': 1721000}

In [203]:
#lista com os padrão de requisição de mês e ano.
month_2018 = [201801, 201802, 201803, 201804, 201805, 201806, 201807, 201808, 201809, 
        201810, 201811, 201812]

In [204]:
month_2019 = [201901, 201902, 201903, 201904, 201905, 201906, 201907, 201908, 201909, 
        201910, 201911, 201912]

In [205]:
# Lista de dataframe para acumular os dados e posterior merge.

In [206]:
len(dataFramelist)

0

In [216]:
#interando por capital e ano. Criei uma função que aceita uma lista e retorna uma lista de Dfs.
index = ['codigoIBGE', 'nomeIBGEsemAcento', 'pais', 'uf', 'id', 'descricao', 'descricaoDetalhada']
dataFramelist = []
for i in range(27):
    cod = capitaiscodeIBGE[capitais[i]]
    for j in range(12):
        mon = month_2019[j]
        url = f'http://www.transparencia.gov.br/api-de-dados/bolsa-familia-por-municipio?mesAno={mon}&codigoIbge={cod}&pagina=1'
        time.sleep(5)
        try:
            df = pd.DataFrame(requests.get(url).json()[0])
            df.drop(index=index, inplace=True)
            df.reset_index(inplace=True)
            dataFramelist.append(df)
            print(f'Capital: {capitais[i]} / Mês: {mon} / Restante: {27-i}')
        except:
            print(f'Mẽs {mon} não disponível')
            continue

Capital: Rio Branco / Mês: 201901 / Restante: 27
Capital: Rio Branco / Mês: 201902 / Restante: 27
Capital: Rio Branco / Mês: 201903 / Restante: 27
Capital: Rio Branco / Mês: 201904 / Restante: 27
Capital: Rio Branco / Mês: 201905 / Restante: 27
Capital: Rio Branco / Mês: 201906 / Restante: 27
Capital: Rio Branco / Mês: 201907 / Restante: 27
Capital: Rio Branco / Mês: 201908 / Restante: 27
Capital: Rio Branco / Mês: 201909 / Restante: 27
Capital: Rio Branco / Mês: 201910 / Restante: 27
Capital: Rio Branco / Mês: 201911 / Restante: 27

IndexError: list index out of range

In [172]:
len(dataFramelist)

324

In [183]:
bolsa_familia = pd.concat(dataFramelist,axis=0)

In [184]:
bolsa_familia.head()

,index,id,dataReferencia,municipio,tipo,valor,quantidadeBeneficiados
0,nomeIBGE,71505056,01/01/2018,RIO BRANCO,NaN,4877303.0,23418
0,nomeIBGE,70202252,01/02/2018,RIO BRANCO,NaN,4907869.0,23588
0,nomeIBGE,74602878,01/03/2018,RIO BRANCO,NaN,4922561.0,23747
0,nomeIBGE,69102980,01/04/2018,RIO BRANCO,NaN,4717363.0,22638
0,nomeIBGE,65303253,01/05/2018,RIO BRANCO,NaN,4781556.0,22921

In [182]:
pd.pivot_table(bolsa_familia,columns=['municipio','dataReferencia'])

                        municipio  dataReferencia
id                      ARACAJU    01/01/2018        75404348.0
                                   01/02/2018        65804892.0
                                   01/03/2018        73804805.0
                                   01/04/2018        65704955.0
                                   01/05/2018        62402180.0
                                                        ...
quantidadeBeneficiados  VITÓRIA    01/08/2018           13028.0
                                   01/09/2018           12201.0
                                   01/10/2018           12844.0
                                   01/11/2018           13217.0
                                   01/12/2018           12947.0
Length: 972, dtype: float64

In [ ]:
bolsa_familia