# Data Cleaning 

#### 1. Import pandas library.

In [2]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data.

In [3]:
import pymysql
import pandas as pd
from sqlalchemy import create_engine
from getpass import getpass

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/dataset/Stats).

In [4]:
password = getpass("Database Password: ")

Database Password: ········

In [23]:
engine = create_engine(f"mysql+pymysql://guest:{password}@relational.fit.cvut.cz:3306/stats")

#### 4. Import the users table.

In [24]:
data = pd.read_sql_query("SELECT * FROM users", con=engine)

#### 5. Rename Id column to userId.

In [26]:
data.rename(columns = {'Id':'UserId'}, inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40325 entries, 0 to 40324
Data columns (total 14 columns):
UserId             40325 non-null int64
Reputation         40325 non-null int64
CreationDate       40325 non-null datetime64[ns]
DisplayName        40325 non-null object
LastAccessDate     40325 non-null datetime64[ns]
WebsiteUrl         8121 non-null object
Location           11691 non-null object
AboutMe            9379 non-null object
Views              40325 non-null int64
UpVotes            40325 non-null int64
DownVotes          40325 non-null int64
AccountId          40325 non-null int64
Age                8318 non-null float64
ProfileImageUrl    16479 non-null object
dtypes: datetime64[ns](2), float64(1), int64(6), object(5)
memory usage: 4.3+ MB

#### 6. Import the posts table.

In [8]:
posts = pd.read_sql_query("SELECT * FROM posts", con=engine)

#### 7. Rename Id column to postId and OwnerUserId to userId.

In [27]:
posts.rename(columns = {'Id':'postId', 'OwnerUserId': 'UserId'}, inplace=True)
posts.head()

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,UserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None

#### 8. Define new dataframes for users and posts with the following selected columns:
**users columns**: userId, Reputation, Views, UpVotes, DownVotes  
**posts columns**: postId, Score, userID, ViewCount, CommentCount

In [28]:
users_new = data[['UserId','Reputation','Views', 'UpVotes','DownVotes' ]].copy()
users_new.head()

   UserId  Reputation  Views  UpVotes  DownVotes
0      -1           1      0     5007       1920
1       2         101     25        3          0
2       3         101     22       19          0
3       4         101     11        0          0
4       5        6792   1145      662          5

In [29]:
posts_new = posts[['postId', 'Score', 'UserId', 'ViewCount', 'CommentCount']].copy()
posts_new.head()

   postId  Score  UserId  ViewCount  CommentCount
0       1     23     8.0     1278.0             1
1       2     22    24.0     8198.0             1
2       3     54    18.0     3613.0             4
3       4     13    23.0     5224.0             2
4       5     81    23.0        NaN             3

#### 9. Merge the new dataframes you have created, of users and posts. 
You will need to make an inner [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [30]:
data2 = pd.merge(posts_new, users_new, on='UserId')

#### 10. How many missing values do you have in your merged dataframe? On which columns?

In [31]:
data2.isnull().sum()
#I have 90584 rows with 48936 in ViewCount nullls or 54%, and I don't have enough information to fill then.

postId              0
Score               0
UserId              0
ViewCount       48396
CommentCount        0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
dtype: int64

#### 11. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before going to the next step.

In [57]:
#I'll clean (drop the column) then because more than 50% is missing and the data are'nt important. 
data3 = data2.drop('ViewCount', axis=1).copy()
data3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90584 entries, 0 to 90583
Data columns (total 8 columns):
postId          90584 non-null int64
Score           90584 non-null int64
UserId          90584 non-null float64
CommentCount    90584 non-null int64
Reputation      90584 non-null int64
Views           90584 non-null int64
UpVotes         90584 non-null int64
DownVotes       90584 non-null int64
dtypes: float64(1), int64(7)
memory usage: 6.2 MB

#### 12. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [63]:
#removing the UserID -1
data4 = data3[data3['UserId'] != -1].copy()

In [65]:
data4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90373 entries, 0 to 90583
Data columns (total 8 columns):
postId          90373 non-null int64
Score           90373 non-null int64
UserId          90373 non-null float64
CommentCount    90373 non-null int64
Reputation      90373 non-null int64
Views           90373 non-null int64
UpVotes         90373 non-null int64
DownVotes       90373 non-null int64
dtypes: float64(1), int64(7)
memory usage: 6.2 MB

In [66]:
# Transform de 'UserId' column do integer.
for i in data4['UserId']:
    data4['UserId'] = int(i)

In [69]:
data4.reset_index(inplace=True)

In [70]:
data4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90373 entries, 0 to 90372
Data columns (total 9 columns):
index           90373 non-null int64
postId          90373 non-null int64
Score           90373 non-null int64
UserId          90373 non-null int64
CommentCount    90373 non-null int64
Reputation      90373 non-null int64
Views           90373 non-null int64
UpVotes         90373 non-null int64
DownVotes       90373 non-null int64
dtypes: int64(9)
memory usage: 6.2 MB

In [71]:
data4[data4['UserId']==-1]

Empty DataFrame
Columns: [index, postId, Score, UserId, CommentCount, Reputation, Views, UpVotes, DownVotes]
Index: []

In [74]:
data4.to_csv('../data/exercise.csv')